@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-VariableFont_wght.ttf') format('truetype'); /* Adjust this path */
    font-weight: normal; /* Normal weight */
    font-style: normal; /* Normal style */
}
* {
    font-family: 'Oswald', sans-serif; /* Use the custom font */
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background-color: #333; Optional: Background color for better visibility */
    /* color: white; Optional: Text color for better visibility */

}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}

.landing-center {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.landing-logo {
    height: auto; /* Maintain aspect ratio */
    margin: 3rem; /* Optional: Space around the logo */
    border-radius: 25px;
}
.landing-title {
    text-align: center;
}

.landing-button{
    margin-left: 15px;
}

.landing-mini-logo {
    width: 25px; /* Adjust the width as needed */
    height: auto; /* Ensure aspect ratio is maintained */
}

.datatable-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.add-item-button {
    align-self: flex-start;
    margin-top: 5px; /* Optional: Space between the DataTable and the button */
    margin-bottom: 60px;
}

@media (max-width: 500px) {
    .landing-logo {
        width: 100%;
    }
}

@media (min-width: 501px) {
    .landing-logo {
        width: 500px;
    }
}

@media (max-width: 372px) {
    .landing-mini-logo {
        display: none;
    }
}